<br id="testScroll">
<div></div>
 <!-- Título y subtítulo -->
 <h1 class="display-5 fw-bold">Repuestos y Accesorios para Camiones</h1>
 <p class="lead">Encuentra todo lo que necesitas para mantener tu flota en movimiento</p>


<div class="row">
    <app-carousel ></app-carousel>
</div>

 <!-- Sección de Productos Destacados -->
 <div class="container my-5">
    <h2 class="text-center mb-4">Productos Destacados</h2>
    <div class="row">
      <div class="col-md-4" *ngFor="let lastProduct of lastProducts">
        <div class="card image-card" style="margin: 2px;">
            <img [src]=lastProduct.imgProduct  class="card-img" alt="Product Image">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
              <div class="product-info text-white">
                <h5 class="card-title">{{lastProduct.nombre}}</h5>
                <p class="card-text">${{lastProduct.precio}}</p>
              </div>
              <div class="d-flex justify-content-center align-items-center hover-btn-container">
                <a href="#" class="btn btn-primary hover-btn">Buy Now</a>
                <a [routerLink]="['/product', lastProduct.id]" class="btn btn-primary hover-btn">Ver Producto</a>
                
              </div>
            </div>
        </div>
      </div>
    
    </div>
  </div>

<div class="container-fluid " >
  <app-products-list></app-products-list>
</div>


<div class="position-fixed top-0 end-0 m-1" style="padding-top: 5.5rem; z-index: 100;">
    <app-shopping-cart ></app-shopping-cart>
</div>
<div class="position-fixed bottom-0 end-0 m-1">
    <app-floating-button [targetDivId]="'testScroll'"></app-floating-button>
</div>

