h1, h2 {
    color: #333;
  }
  
  p.lead {
    font-size: 1.2rem;
    color: #555;
  }
  
  .rounded-circle {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .img-fluid {
    margin-bottom: 15px;
  }