
<div *ngFor="let type of getTypes()" >
    <h2 style="text-align: center;">{{ type | titlecase }}</h2>
    <div class="row" >
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-4 d-flex justify-content-center" *ngFor="let product of groupedProducts[type]">
            <ng-container [ngSwitch]="product.tipoProductoId">
                <app-card-example-product1 *ngSwitchCase="product.tipoProductoId"   [product]="product" ></app-card-example-product1>
                <p *ngSwitchDefault>Producto no reconocido</p>
            </ng-container>
        </div>
    </div>
</div>
