/* Eliminar los bordes redondeados */
.card, .card-img {
  
  border: 0;
}


/* Ocultar el botón por defecto */
.hover-btn {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  /* Mostrar el botón cuando el mouse está sobre la card */
  .image-card:hover .hover-btn {
    opacity: 1;
  }
  
  /* Estilo adicional para la card */
  .card-img-overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Oscurece la imagen al hacer hover */
    opacity: 1;
    transition: opacity 0.3s ease;
    
  }
  
  /* Ocultar y mostrar el fondo oscuro solo en hover */
  .image-card:hover .card-img-overlay {
    background-color: rgba(0, 0, 0, 0.7); /* Intensificar el fondo oscuro en hover */
  }
  
  .product-info {
    margin-bottom: 10px;
  }
  
  .hover-btn-container {
    flex-grow: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .image-card:hover .hover-btn-container {
    opacity: 1;
  }
  