

<nav class="navbar fixed-top navbar-expand-lg shadow p-3 mb-5 bg-body-tertiary   custom-nav" style="box-shadow: 5px 10px 18px #888888 !important;" data-bs-theme="dark"  >
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Proyecto</a>
    <button class="navbar-toggler d-flex d-lg-none order-3 p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="offcanvas offcanvas-end" tabindex="-1" id="myNavbar" aria-labelledby="myNavbarOffcanvasLabel">
      <div class="offcanvas-body">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" (click)="NavigateHome()">Inicio</a>
          </li>
        
          
          <li class="nav-item dropdown"  >
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Productos
            </a>
            <ul class="dropdown-menu w-100 custom-dropdown" style="border-radius: 0; margin-top: 1rem;">
              <li><a class="dropdown-item" >Frontales</a></li>
              <li><hr class="dropdown-divider" style=" background-color: white !important; "></li>
              <li><a class="dropdown-item" >Bajo Chasis</a></li>
              
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page"  (click)="NavigateAbout()">Nosotros</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" aria-current="page"  (click)="NavigateAdmin()">Administracion</a>
          </li>
        </ul>
        
        <form class="d-flex" role="search" >
          <input class="form-control me-2" style="background-color: white !important; color: #0f0f0f !important;" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light " type="submit">Search</button>
          
        </form>
        <div class="d-flex" *ngIf="(authService.currentUser | async)  ">
          <app-card></app-card>
        </div>
      </div>
      
    </div>
    
  </div>
</nav>

  